body{
    text-align: center;
    background-image: url("./fond_animaux.jpg");
    width: 100%;
    height: 100%;
}

h1{ 
    text-align: center;
    color:brown;
    font-weight:bold;
    background-color:bisque

}

h2{
    text-align: center;
    color:brown;
    font-weight:bold;
    background-color: bisque
}


